<nav>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li>
      <a routerLink="security/login">Login</a>
    </li>
    <li><a routerLink="security/change-password">Change Password</a></li>
    <li><a routerLink="security/reset-password">Reset Password</a></li>
    <li><a routerLink="security/role-creation">Role Creation</a></li>
    <li><a routerLink="security/role-edition">Role Edition</a></li>
    <li><a routerLink="security/role-list">Role List</a></li>
    <li><a routerLink="security/remove-role">Remove Role</a></li>
    <li><a routerLink="security/user-creation">User Creation</a></li>
    <li><a routerLink="security/user-edition">User Edition</a></li>
    <li><a routerLink="security/user-list">User List</a></li>
    <li><a routerLink="security/remove-user">Remove User</a></li>
    <li class="divider"></li>
    <li><a routerLink="security/logout">Logout</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id="dropdown3" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id="dropdown4" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id="dropdown5" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown5"
            >Evaluacion<i class="material-icons right">arrow_drop_down</i></a
          >
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown2"
            >Jurados<i class="material-icons right">arrow_drop_down</i></a
          >
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown3"
            >Solicitud<i class="material-icons right">arrow_drop_down</i></a
          >
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown4"
            >Trabajo<i class="material-icons right">arrow_drop_down</i></a
          >
        </li>
        <li>
          <a class="dropdown-trigger" href="#!" data-target="dropdown1"
            >Security<i class="material-icons right">arrow_drop_down</i></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="nav-wrapper blue-grey darken-1">
    <a routerLink="/home" class="brand-logo">Inicio</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="security/login">Login</a>
      </li>
      <li><a routerLink="security/logout">Logout</a></li>
      <li><a routerLink="security/change-password">Change Password</a></li>
      <li><a routerLink="security/reset-password">Reset Password</a></li>
      <li><a routerLink="security/role-creation">Role Creation</a></li>
      <li><a routerLink="security/role-edition">Role Edition</a></li>
      <li><a routerLink="security/role-list">Role List</a></li>
      <li><a routerLink="security/remove-role">Remove Role</a></li>
      <li><a routerLink="security/user-creation">User Creation</a></li>
      <li><a routerLink="security/user-edition">User Edition</a></li>
      <li><a routerLink="security/user-list">User List</a></li>
      <li><a routerLink="security/remove-user">Remove User</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a routerLink="security/login">Login</a>
  </li>
  <li><a routerLink="security/logout">Logout</a></li>
  <li><a routerLink="security/change-password">Change Password</a></li>
  <li><a routerLink="security/reset-password">Reset Password</a></li>
  <li><a routerLink="security/role-creation">Role Creation</a></li>
  <li><a routerLink="security/role-edition">Role Edition</a></li>
  <li><a routerLink="security/role-list">Role List</a></li>
  <li><a routerLink="security/remove-role">Remove Role</a></li>
  <li><a routerLink="security/user-creation">User Creation</a></li>
  <li><a routerLink="security/user-edition">User Edition</a></li>
  <li><a routerLink="security/user-list">User List</a></li>
  <li><a routerLink="security/remove-user">Remove User</a></li>
</ul>
